{
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "transform-react-jsx",
    "syntax-async-functions",
    "babel-plugin-root-import"
  ],
  "presets": ["env", "es2015", "stage-0", "react"]
}
